html{
    font-size: 16px;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color : #0A0C10;
    --header-bg-color : rgba(66, 68, 73, 0.36);
    --font-large : 1.2rem;
    --font-larger : 6.5rem;
    --acsent-red :#A41045;

}


body{
    background-color: var(--background-color);
    overflow-x:hidden;
}

.header{
    background-color: var(--header-bg-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1606px;
    width: 90vw;
    height: auto; 
    margin: 15px 4vw;
    padding: 0px 1vw;
    border-radius: 20px;
    backdrop-filter: blur(5px); 
}
.header>*{
    margin: 12px;
    font-size: var(--font-large);
}

.navigation>ul{
    list-style: none;
    text-decoration: none;
    display: flex;

}

.navigation>ul>li:not(:first-child){
    margin-left: 28px;
}

.user-info>ul{
    list-style: none;
    text-decoration: none;
    display: flex;

}

.user-info>ul>li:not(:first-child){
    margin-left: 28px;
}

.title{
    position: relative;
    height: 100vh;
    padding-bottom: 24px;
}

.title-text>h2{
    position: absolute;
    left: 150px;
    top: 120px;
    z-index: 10;
    font-family: "Inter", sans-serif;
    font-size: var(--font-larger);
    font-weight: bolder;
    line-height: 84px;
    background: linear-gradient(90deg, rgba(255, 255, 255, .7), rgba(255, 255, 255, .5));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.title-text>p{
    position: absolute;
    color: #7D7E80;
    left: 150px;
    top: 355px;
    z-index: 10;
    font-size: var(--font-large);
    line-height: 33px;
    font-weight: 400;
    
}


.title-image>img{

    position: absolute;
    max-width: 1552px;
    width: 76vw;
    z-index: 2;
    top: -50px;
    left: 600px;
    height: auto;
    
}

.title-text>button{
    margin-top: 16px;
    position: absolute;
    color: white;
    background-color: var(--acsent-red);
    border-radius: 14px;
    font-size: 20px;
    padding: 16px 32px;
    top: 430px;
    left: 150px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.bg-blur{
    height: 500px;
    width: 200px;
    border-radius: 50%;
    filter:blur(100px);
    position: absolute;

}

.left{
    background-color: #871859;
    top: 30px;
    left: 900px;
}

.right{
    background-color: #24396D;
    top: 30px;
    right: 2%;
    width: 500px;;
}

.page2{
    height: 100vh;
    
}

.page2 h2{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 54px;
    margin-bottom: 28px;
}

.page2 h3{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7E80;
}